# =============================================================================
# .GITIGNORE FILE - Specification of files ignored by git.
# =============================================================================
# Folders
[Oo]bj

# Temporary and autosave files
*.swp
*.asv
*.tmp
*.m~
._*

# Object files
*.o
*.obj

# Excecutables
*.bin
*.exe
*.dmg

# Windows Files
[Dd]esktop.ini

# Apple Files
Icon
.DS_Store
.LSOverride


# Linux Files

# IDE's and other programs
.vscode

# END OF FILE
# =============================================================================
